.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(5, auto); 
  gap: 20px; 
  padding: 20px;
  max-width: 800px; 
  margin: 0 auto; 
}

body {
  padding-top: 70px; 
  margin: 0;
}

.home-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 110px; 
  }

  .product-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
}

.pagination button.active {
  background-color: #0056b3;
  color: white;
  font-weight: bold;
}

.category-filter {
  max-width: 800px;
  margin: 20px auto;
  padding: 15px 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.category-filter h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

.category-filter .form-check {
  margin-bottom: 5px;
}

.category-filter .btn-warning {
  margin-top: 10px;
}

.category-filter p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}


@media (max-width: 768px) {
  .category-filter {
    padding: 10px;
  }

  .category-filter h4 {
    font-size: 1rem;
  }

  .category-filter p {
    font-size: 13px;
  }
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.category-filter {
  flex: 0 0 250px;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.filter-toggle-btn {
  display: none;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .home-content {
    flex-direction: column;
    padding: 0px;
  }

  .filter-toggle-btn {
    display: block;
  }

  .category-filter {
    display: none;
  }

  .category-filter.show {
    display: block;
  }

  .product-grid {
    margin-top: 10px;
  }

  .btn-primary {
    margin-top: 10px;
  }

  .empty-card {
    visibility: hidden;
    height: 0;
    box-shadow: none;
  }
  
}

